/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 56px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;

    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.nav-underline {
    .nav-link {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.875rem;
        color: var(--secondary);
    }
    .nav-link:hover {
        color: var(--blue);
    }
    .active {
        font-weight: 500;
        color: var(--gray-dark);
    }
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
    background-color: var(--purple);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
    line-height: 1;
}
.lh-125 {
    line-height: 1.25;
}
.lh-150 {
    line-height: 1.5;
}

.cursor-pointer {
    cursor: pointer;
}
